snippet fn
fn $1-> $2 end
endsnippet

snippet def
def $1 do
	$0
end
endsnippet

snippet defp
defp $1 do
	$0
end
endsnippet

snippet defm
defmodule $1 do
	$0
end
endsnippet

snippet defs
defstruct(
	$0
)
endsnippet
