extends html

snippet imp
import $1 from '$2';$0
endsnippet

snippet log
console.log($1);
endsnippet

snippet f "" i
($1) => {
	$0
}
endsnippet

snippet fe "" i
($1) => (
	$0
)
endsnippet

snippet fo "" i
($1) => ({
	$0
})
endsnippet

snippet fa "" i
($1) => ([
	$0
])
endsnippet

snippet sef
(function() {
	$0
})();
endsnippet
