extends html

snippet imp
import $1 from '$2';$0
endsnippet

snippet log
console.log($1);
endsnippet

snippet afun "" i
function($1) {
	$0
}
endsnippet

snippet fun
var $1 = function($2) {
	$0
};
endsnippet

snippet sef
(function() {
	$0
})();
endsnippet
