extends html

snippet imp "import"
	import $1 from "$0";

snippet log "console.log"
	console.log($0);

snippet f "() => ()"
	($1) => ($0)

snippet ff "() => {}"
	($1) => {
		$0
	}

snippet fo "() => ({})"
	($1) => ({
		$0,
	})

snippet fa "() => ([])"
	($1) => ([
		$0,
	])

snippet sef "(() => {})()"
	(() => {
		$0
	})();
